<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8" />
    <!--<title> Responsive Sidebar Menu  | CodingLab </title>-->
    <link rel="stylesheet" href="/css/nav_styles.css" />
    <!-- Boxicons CDN Link -->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style_main.css" />
    <link rel="stylesheet" href="/css/style_table2.css" />


    <title>Password Manager Application</title>
</head>

<body>
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <i class='bx bxs-face-mask'></i>
                <div class="logo_name">Juan Duran</div>
            </div>
            <i class="bx bx-menu" id="btn"></i>
        </div>
        <ul class="nav_list">
            <li>
                <a href="/index/all-items">
                    <i class='bx bx-bookmarks'></i>
                    <span class="links_name">All Items</span>
                </a>
                <span class="tooltip">All Items</span>
            </li>
            <li>
                <a href="/new-item">
                    <i class='bx bx-bookmark'></i>
                    <span class="links_name">Add item</span>
                </a>
                <span class="tooltip">Add Item</span>
            </li>
            <li>
                <a href="/all-tags">
                    <i class='bx bx-library'></i>
                    <span class="links_name">All Tags</span>
                </a>
                <span class="tooltip">All Tags</span>
            </li>
            <li>
                <a href="/new-tag">
                    <i class='bx bx-purchase-tag-alt'></i>
                    <span class="links_name">Add Tags</span>
                </a>
                <span class="tooltip">Add Tags</span>
            </li>
            <li>
                <a href="/signout">
                    <i class='bx bx-log-out'></i>
                    <span class="links_name">Sign out</span>
                </a>
                <span class="tooltip">Sign out</span>
            </li>
        </ul>
    </div>
    <!-- /////////////////////////////////////////////// -->

    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <table class="content-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tag</th>
                            <th>Items</th>
                            <th>Operations</th>

                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i< tags.length; i++){%>
                        <tr>
                            <td>
                                <%= i + 1%>
                            </td>
                            <td><%= tags[i].tag%></td>
                            <td><%= tags[i].item%></td>

                            <td>
                                <a href="/tags/delete/<%= tags[i]._id%>" class="btn solid">Delete</a>
                                <a href="/tags/edit/<%= tags[i]._id%>" class="btn solid">Edit</a>
                            </td>
                        </tr>
                        <%} %>
                    </tbody>
                </table>
            </div>
        </div>>

        <div class="panels-container">
            <div class="panel left-panel">
                <img style="border-radius: 250px; border: 15px solid; color: #11101D" src="/img/6.png" class="image"
                    alt="" />
            </div>
        </div>
    </div>



    <!-- ////////////////////////////////////////////7 -->
    <script>
        let btn = document.querySelector("#btn");
        let sidebar = document.querySelector(".sidebar");
        let searchBtn = document.querySelector(".bx-search");

        btn.onclick = function () {
            sidebar.classList.toggle("active");
            if (btn.classList.contains("bx-menu")) {
                btn.classList.replace("bx-menu", "bx-menu-alt-right");
            } else {
                btn.classList.replace("bx-menu-alt-right", "bx-menu");
            }
        };
    </script>

</body>

</html>