<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style_main.css" />
    <title>Password Manager Application</title>
</head>

<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form action="/index/signin" method="POST" class="sign-in-form">
                    <h2 class="title">Log in</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input name="username" type="text" placeholder="Username" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input name="password" type="password" placeholder="Password" />
                    </div>
                    <button class="btn solid" type="submit">Log in</button>

                </form>
                <form action="/index/signup" method="POST" class="sign-up-form">
                    <h2 class="title">Sign up</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input name="username" type="text" placeholder="Username" required autofocus />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-address-card"></i>
                        <input name="name" type="text" placeholder="Name" required />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input name="password" type="password" placeholder="Password" required />
                    </div>
                    <button class="btn solid" type="submit">Sign up</button>
                </form>
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Sign Up?</h3>
                    <p>Create an account with us</p>
                    <button class="btn transparent" id="sign-up-btn">Sign up</button>
                </div>
                <img style="border-radius: 250px; border: 15px solid; color: #11101d" src="/img/6.png" class="image"
                    alt="" />
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>Log in?</h3>
                    <p>Login to the platform</p>
                    <button class="btn transparent" id="sign-in-btn">Sign in</button>
                </div>
                <img style="border-radius: 250px; border: 15px solid; color: #11101d" src="/img/7.jpg" class="image"
                    alt="" />
            </div>
        </div>
    </div>

    <script src="/main/app.js"></script>
    <!-- <script src="js/main/main.js"></script> -->
</body>

</html>