<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8" />
    <!--<title> Responsive Sidebar Menu  | CodingLab </title>-->
    <link rel="stylesheet" href="/css/nav_styles.css" />
    <!-- Boxicons CDN Link -->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style_main.css" />
    <title>Password Manager Application</title>
</head>

<body>
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <i class='bx bxs-face-mask'></i>
                <div class="logo_name">Juan Duran</div>
            </div>
            <i class="bx bx-menu" id="btn"></i>
        </div>
        <ul class="nav_list">
            <li>
                <a href="/index/all-items">
                    <i class='bx bx-bookmarks'></i>
                    <span class="links_name">All Items</span>
                </a>
                <span class="tooltip">All Items</span>
            </li>
            <li>
                <a href="/new-item">
                    <i class='bx bx-bookmark'></i>
                    <span class="links_name">Add item</span>
                </a>
                <span class="tooltip">Add Item</span>
            </li>
            <li>
                <a href="/all-tags">
                    <i class='bx bx-library'></i>
                    <span class="links_name">All Tags</span>
                </a>
                <span class="tooltip">All Tags</span>
            </li>
            <li>
                <a href="/new-tag">
                    <i class='bx bx-purchase-tag-alt'></i>
                    <span class="links_name">Add Tags</span>
                </a>
                <span class="tooltip">Add Tags</span>
            </li>
            <li>
                <a href="/signout">
                    <i class='bx bx-log-out'></i>
                    <span class="links_name">Sign out</span>
                </a>
                <span class="tooltip">Sign out</span>
            </li>
        </ul>
    </div>
    <!-- /////////////////////////////////////////////// -->

    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form action="/items/new-item" method="POST" class="sign-in-form">
                    <h2 class="title">Add Item</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input name="title" type="text" placeholder="Title" autofocus required />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input name="username" type="text" placeholder="Username" required />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input name="password" type="password" placeholder="Password" required />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input name="url" type="text" placeholder="URL" required />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input name="commentary" type="text" placeholder="Commentary" />
                    </div>
                    <div class="input-field">
                        <select name="tag" style="border-radius: 20%;">
                            <% for(var i = 0; i< tags.length; i++){%>
                            <i class="fas fa-user"></i>
                            <option value="<%= tags[i]._id%>"> <%= tags[i].tag%></option>
                            <%} %>
                        </select>
                    </div>
                    <button class="btn solid" type="submit">Save</button>
                </form>
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <img style="border-radius: 250px; border: 15px solid; color: #11101D" src="/img/6.png" class="image"
                    alt="" />
            </div>
        </div>
    </div>



    <!-- ////////////////////////////////////////////7 -->
    <script>
        let btn = document.querySelector("#btn");
        let sidebar = document.querySelector(".sidebar");
        let searchBtn = document.querySelector(".bx-search");

        btn.onclick = function () {
            sidebar.classList.toggle("active");
            if (btn.classList.contains("bx-menu")) {
                btn.classList.replace("bx-menu", "bx-menu-alt-right");
            } else {
                btn.classList.replace("bx-menu-alt-right", "bx-menu");
            }
        };
        searchBtn.onclick = function () {
            sidebar.classList.toggle("active");
        };
    </script>

</body>

</html>