@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background: #fff;
  display: flex;
  min-height: 100vh;
  justify-content: space-around;
}


.form {
  background: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 8px rgb(129, 154, 181, 0.43),
    -6px -6px 10px rgb(255 255 255);
  padding: 20px 8px;
  position: relative;
  text-align: justify;
  width: 800px;
  justify-content: left;
}

.form .form-content {
  margin: 10px 15px;
  text-align: left;
}

.form .form-content .form-box {
  margin-top: 10px;
}

.form .form-content .form-box label {
  color: #e23e57;
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.form .form-content .form-box input {
  background: #fff;
  border: none;
  border-radius: 50px;
  box-shadow: inset -2px -2px 6px rgb(59 59 59 / 18%),
    inset 2px 2px 6px rgb(129 154 181 / 43%);
  color: #e23e57;
  font-size: 18px;
  height: 45px;
  outline: none;
  padding: 5px 15px;
  width: 100%;
}

.form .form-content .form-box input:focus {
  box-shadow: -2px -2px 6px rgb(255 255 255), 2px 2px 6px rgb(129 154 181 / 43%);
}

.form .form-content .form-box input[type="submit"] {
  box-shadow: -5px -5px 10px rgb(255, 255, 255),
    5px 5px 10px rgb(129 154 181 / 43%);
  font-weight: 600;
  margin-top: 20px;
  border: 2px solid #e23e57;
}

.form .form-content .form-box input[type="submit"]:active {
  box-shadow: -5px -5px 15px rgb(255, 255, 255),
    5px 5px 20px rgb(129 154 181 / 43%);
  color: #fff;
  background: #e23e57;
  margin-top: 20px;
}

.form .form-content .form-box input::placeholder {
  color: #a2a2a2;
  font-size: 16px;
}

.form-forget {
  color: #e23e57;
  margin-top: 30px;
  font-weight: 600;
}

.form-forget a {
  color: #e23e57;
}

.formbx {
  position: relative;
  border-radius: 20px;
  background: #fff;
  padding: 20px 30px 40px 30px;
  /**box-shadow: -5px -5px 15px rgb(255, 255, 255), 5px 5px 20px rgb(129 154 181 / 43%);***/
  box-shadow: 0 0 6px 6px #fff, 8px 8px 10px 4px rgb(129, 154, 181, 0.43),
    -8px -8px 10px 4px rgb(255 255 255);
}

h2 {
  text-align: center;
  color: #e23e57;
  font-size: 25px;
  margin-bottom: 27px;
  margin-top: 27px;
}
